body {
    background-color:black;
}
.maindiv {
    font-family:Arial;
    background-color:white;
    border-radius: 25px;
    padding: 75px;
    margin: auto;
}
#form {
    margin-left: 15%;
}
h1 {
    font-family:Verdana;
    color:grey;
}


