body {
    background-color:black;
    font: Arial;
    color:white;
}
.maindiv {
    font-family:Arial;
    color:black;
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
}
#form {
    margin-left: 15%;
}
h1 {
    font-family:Verdana;
    color:grey;
}


